{%extends 'base.html'%}

{%block title%}Add Employee{%endblock%}

{%block content%}


<div class="card mt-5 text-sm-center" style="margin-right:300px; margin-left:300px">
  <div class="container  text-danger">
    <center>
      <h3 class="mt-2">Add Employee Details</h3>
    </center>
    <hr>
  </div>
  
  <div class="card-body ">
    <form action="submit/" method="POST"  enctype="multipart/form-data">
      {%csrf_token%}
      <input class="form-control " type="text" name="name" required value="" placeholder="Name">
      <input class="form-control mt-3 " type="text" name="edu" required value="" placeholder="Highest Education with stream name">
      <input class="form-control mt-3" type="text" name="prol" required value="" placeholder="Programming Languages">
      <input class="form-control mt-3" type="number" name="age" required value="" placeholder="Age">
      <select class="form-select mt-3" name="gender" aria-label="Default select example" required
        placeholder="Select Gender">
        <option value="male" name="male">Male</option>
        <option value="female" name="female">Female</option>
        <option value="others" name="others">Others</option>
      </select>
      <input class="form-control mt-3" type="number" name="exsalary" required value="" placeholder="  Expected Salary">
      <select class="form-select mt-3" name="deptname" aria-label="Default select example" required
        placeholder="Select Department Id">
        <option value="">Select Department</option>
        {% for x in dept %}
        <option value="{{x.name}}" name="deptname" class="form-control">{{x.name}}</option>
        {% endfor %}
      </select>
      <input class="form-control mt-3" type="text" name="about" required value="" placeholder="About Employee">
      <input class="form-control mt-3" name="image"  required id="formFileLg" type="file">
      <button type="submit" class="btn btn-danger mt-3">Submit</button>  
      <a href="/" class="btn btn-primary mt-3">Back</a>  </form>
  </div>
</div>
</div>


{%endblock%}